<mat-card class="book-card">
  <img
    mat-card-image
    [routerLink]="'/book'"
    class="cursor-pointer"
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button> <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
